body {
    background-color: #000032;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

.header {
    background: url(images/header.png) no-repeat center;
    background-size: cover;
    height: 800px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header__logo {
    width: 125px;
}

.header__menu-image {
    display: none;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    width: 700px;
}

.header__item {
    float: left;
    list-style-type: none;
}

.header__link-item {
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 15px;
    transition-duration: 0.3s;
}

.header__link-item:hover {
    background-color: #ffffff;
    color: #000032;
    text-decoration: none;
}

.header__link-item--framed {
    border: #ffffff solid 1px;
}

.header__bottom {
    margin-top: 180px;
}

.header__title {
    font-size: 140px;
    text-transform: uppercase;
}

.header__text {
    padding-bottom: 20px;
    width: 430px;
}

.description__title {
    font-size: 40px;
    padding-top: 100px;
}

.description__line {
    background-color: #271664;
    margin: 25px 0;
    height: 2px;
}

.description__text {
    width: 70%;
    padding-bottom: 70px;
}

.offers__block {
    background-color: #5940b6;
    height: 600px;
    text-align: center;
}

.offers__block:hover {
    background-color: #ffffff;
    color: #5940b6;
    transition-duration: 0.3s;
}

.offers__image {
    margin: 20px 0;
    width: 250px;
}

.offers__text {
    height: 180px;
    padding: 30px;
}

.offers__link {
    border-radius: 5px;
    background-color: #ff9741;
    color: #ffffff;
    padding: 15px 60px;
    transition-duration: 0.3s;
}

.offers__link:hover {
    background-color: #ffffff;
    color: #ff9741;
    text-decoration: none;
}

.story-block {
    background-color: #5940b6;
    height: 300px;
    text-align: right;
}

.story-block--dark {
    background-color: #000032;
    text-align: left;
}

.story-block__image--right {
    float: right;
}

.story-block__image--left {
    float: left;
}

.story-block__image {
    margin: 25px 50px;
    width: 250px;
}

.story-block__text {
    padding: 70px;
}

.story-block__details {
    display: none;
}

.gallery__heading {
    color: #ff9741;
    font-size: 40px;
    padding: 20px 0;
}

.gallery__contacts {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.gallery__link {
    background: url(images/sprite.png) no-repeat;
    background-position: -110px -96px;
    display: inline-block;
    height: 70px;
    margin: 10px;
    width: 50px;
}

.gallery__link--first {
    background-position: -45px -22px;
}

.gallery__link--second {
    background-position: -110px -22px;
}

.gallery__link--third {
    background-position: -45px -96px;
}

.carousel__image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1199px) {
    .header__top {
        display: block;
    }

    .header__logo {
        float: left;
    }

    .header__menu {
        display: none;
        margin-top: 0px;
    }

    .header__item {
        clear: both;
        margin: 10px -40px;
    }

    .header__link-item {
        background-color: #cbbdff;
    }

    .header__link-item--framed {
        border: none;
    }

    .header__menu-image {
        display: inline-block;
        margin: 25px;
        transition-duration: 0.3s;
        width: 80px;
    }

    .header__menu-image:focus {
        opacity: 0;
        outline: none;
    }

    .header__menu-image:focus ~ .header__menu {
        display: block;
    }

    .header__bottom {
        margin-top: 230px;
    }

    .header__title {
        font-size: 120px;
    }

    .header__text {
        margin-top: 10px;
    }

    .offers__block {
        height: 500px;
    }

    .offers__image {
        margin-top: 5px;
        width: 200px;
    }

    .offers__text {
        height: 150px;
        padding: 0 5px;
    }

    .story-block__text {
        padding: 40px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 767px) {
    .header__bottom {
        margin-top: 250px;
    }

    .description__text {
        width: 100%;
    }

    .offers__block {
        height: 450px;
        margin-top: 20px;
    }

    .offers__text {
        height: 100px;
    }

    .story-block {
        height: 230px;
    }

    .story-block__image {
        margin: 40px 20px;
        width: 140px;
    }
    
    .story-block__text {
        padding: 20px;
    }

}

@media screen and (max-width: 575px) {
    .header__menu-image {
        margin: 25px 0;
    }

    .header__title {
        font-size: 50px;
    }

    .header__text {
        margin-top: 80px;
        width: 100%;
    }

    .offers__block {
        height: 470px;
    }

    .offers__text {
        height: 140px;
    }

    .story-block {
        height: auto;
    }

    .story-block__image {
        margin: 10px;
        width: 30%;
    }

    .story-block__text {
        margin-bottom: 0;
    }

    .story-block__full-text {
        display: none;
    }

    .story-block__details {
        display: inline;
    }

    .story-block__summary {
        padding: 10px;
    }

    .story-block__summary:focus {
        border: none;
        outline: none;
    }

    .gallery__heading {
        font-size: 30px;
    }

    .carousel__heading {
        font-size: 25px;
    }

    .carousel__text {
        margin-bottom: 0;
    }

    .gallery__link {
        margin: 0;
    }
}