body {
    background-color: #000032;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

.header {
    background: url(images/header.png) no-repeat center;
    background-size: cover;
    height: 800px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.header__logo {
    width: 130px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    width: 700px;
}

.header__item {
    float: left;
    list-style-type: none;
}

.header__link-item {
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 15px;
    transition-duration: 0.3s;
}

.header__link-item:hover {
    background-color: #ffffff;
    color: #000032;
    text-decoration: none;
}

.header__link-item--framed {
    border: #ffffff solid 1px;
}

.header__bottom {
    margin-top: 150px;
}

.header__title {
    font-size: 170px;
}

.header__text {
    padding-bottom: 20px;
    width: 400px;
}

.description__title {
    font-size: 40px;
    padding-top: 100px;
}

.description__line {
    background-color: #8665ff98;
    margin: 25px 0;
}

.description__text {
    width: 70%;
    padding-bottom: 70px;
}

.offers__block {
    background-color: #8665ff98;
    height: 600px;
    text-align: center;
}

.offers__block:hover {
    background-color: #ffffff;
    color: #8665ff98;
    transition-duration: 0.3s;
}

.offers__image {
    margin: 20px 0;
    width: 250px;
}

.offers__text {
    padding: 30px;
}

.offers__link {
    border-radius: 5px;
    background-color: #ff9741;
    color: #ffffff;
    padding: 15px 60px;
    transition-duration: 0.3s;
}

.offers__link:hover {
    background-color: #ffffff;
    color: #ff9741;
    text-decoration: none;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.gallery__heading {
    color: #ff9741;
    font-size: 40px;
    padding: 20px 0;
}

.gallery__contacts {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.gallery__link {
    background: url(images/sprite.png) no-repeat;
    background-position: -110px -96px;
    display: inline-block;
    height: 70px;
    margin: 10px;
    width: 50px;
}

.gallery__link--first {
    background-position: -45px -22px;
}

.gallery__link--second {
    background-position: -110px -22px;
}

.gallery__link--third {
    background-position: -45px -96px;
}